@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;
@define-color spotify-green #1ED760;
@define-color suse-green #008000;
* {
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 12pt;
  min-height: 0;
}

window#waybar {
  background: @base;
  color: @text;
}

tooltip {
  background: @mantle;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: @yellow;
}

#workspaces {
  background: @surface1;
  border-radius: 15px;
}

#workspaces button {
  padding-right: 3px;
  padding-left: 0px;
  margin-left: 5px;
  margin-right: 3px;
  color: @subtext1;
}

#workspaces button.empty {
  color: @surface2;
  background: @mantle;
}

#workspaces button.visible {
  color: @mauve;
}

#workspaces button.focused {
  color: @peach;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button:hover {
  background: @mantle;
  border-color: @mantle;
  color: @green;
}

#clock,
#battery,
#pulseaudio,
#workspaces,
#memory,
#cpu,
#temperature,
#bluetooth {
  color: @lavender;
  padding-right: 5px;
  padding-left: 1px;
  background: @mantle;
  margin-top: 5px;
  margin-bottom: 5px;
}

#battery:hover,
#pulseaudio:hover,
#workspaces:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#custom-notifications:hover,
#bluetooth:hover {
  color: @green;
}

#custom-icon {
  color: @suse-green;
}
#custom-icon,
#window,
#mode {
  font-family: "JetBrainsMono Nerd Font";
  padding-right: 3px;
  padding-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#window,
#mode {
  color: @lavender;
}

#idle_inhibitor {
  padding-left: 5px;
  padding-right: 5px;
}

#network {
  padding-left: 10px;
  padding-right: 5px;
  background: @mantle;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#clock {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px 15px 15px 15px;
}

#tray {
  padding-right: 5px;
  padding-left: 5px;
  background: @mantle;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#pulseaudio {
  padding-right: 5px;
}

#pulseaudio:hover {
  color: @green;
}

#custom-layout {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#custom-notifications {
  padding-right: 15px;
  padding-left: 15px;
  background: @mantle;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 15px 15px 0px;
}

#custom-spotify {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background: @spotify-green;
  color: @base;
  border-radius: 15px 15px 15px 15px;
}

#custom-privacycheck {
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
